:root {
  --brand-primary: #0abab5;
  --brand-primary-hover: #099e9a;
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: var(--brand-primary);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9686 0.0064 197.0512);
  --secondary-foreground: oklch(0.3224 0.021 191.3609);
  --muted: oklch(0.9686 0.0064 197.0512);
  --muted-foreground: oklch(0.5669 0.0178 191.7688);
  --accent: oklch(0.943 0.017 192.351);
  --accent-foreground: oklch(0.2053 0.0184 189.6746);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9264 0.0064 197.0451);
  --input: oklch(0.9264 0.0064 197.0451);
  --ring: var(--brand-primary);
  --chart-1: var(--brand-primary);
  --chart-2: oklch(0.7284 0.1103 191.2523);
  --chart-3: oklch(0.8393 0.1042 192.2874);
  --chart-4: oklch(0.9106 0.0807 193.8933);
  --chart-5: oklch(0.9503 0.0372 194.4796);
  --sidebar: var(--brand-primary);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.2053 0.0184 189.6746);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2053 0.0184 189.6746);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.2374 0.0218 190.7683);
  --sidebar-ring: oklch(1 0 0);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Lora", ui-serif, Georgia, serif;
  --font-mono: "Fira Code", ui-monospace, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: oklch(0.2053 0.0184 189.6746);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2053 0.0184 189.6746);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.2053 0.0184 189.6746);
  --popover-foreground: oklch(1 0 0);
  --primary: var(--brand-primary);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2719 0.0191 190.5697);
  --secondary-foreground: oklch(0.9686 0.0064 197.0512);
  --muted: oklch(0.2719 0.0191 190.5697);
  --muted-foreground: oklch(0.7383 0.0153 213.1156);
  --accent: oklch(0.348 0.0232 191.8634);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3224 0.021 191.3609);
  --input: oklch(0.3224 0.021 191.3609);
  --ring: var(--brand-primary);
  --chart-1: var(--brand-primary);
  --chart-2: oklch(0.7284 0.1103 191.2523);
  --chart-3: oklch(0.8393 0.1042 192.2874);
  --chart-4: oklch(0.9106 0.0807 193.8933);
  --chart-5: oklch(0.9503 0.0372 194.4796);
  --sidebar: var(--brand-primary);
  --sidebar-foreground: oklch(0.2053 0.0184 189.6746);
  --sidebar-primary: oklch(0.2053 0.0184 189.6746);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2053 0.0184 189.6746);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.2374 0.0218 190.7683);
  --sidebar-ring: oklch(1 0 0);
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.3),
    0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.3),
    0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.3),
    0px 2px 4px -1px hsl(0 0% 0% / 0.3);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.3),
    0px 4px 6px -1px hsl(0 0% 0% / 0.3);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.3),
    0px 8px 10px -1px hsl(0 0% 0% / 0.3);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.75);
}
